.bank {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    /*justify-content: center;*/
    min-height: 50vh;
    width: initial;
}

.bank .card {
    margin: 10px;
}