.deck {
    /*overflow-y: auto;*/

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /*border-top: 1px solid #FFFFFF;*/
    scrollbar-base-color: transparent;
    scrollbar-color: green;
    grid-area: deck;
    min-height: 50vh;

    scrollbar-width: 100px;
    scrollbar-color: green;
}

.deck .card, .deck .blank-card {
    float: left;
}

.deck .main {
    overflow-y: auto;
    min-height: 20vh;
    height: 70vh;
}

.deck .extra {
    min-height: 5vh;
    height: 15vh;
}

.deck .side {
    min-height: 5vh;
    height: 15vh;
}

.deck button {
    z-index: 10;
    position: "absolute";
}

.deck > div {
    width: 100%;
    border: 2px solid #575799;
    border-radius: 5px;
}