.deck {
    /*overflow-y: auto;*/

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /*border-top: 1px solid #FFFFFF;*/
    scrollbar-base-color: transparent;
    scrollbar-color: green;
    grid-area: deck;
    min-height: 50vh;

    scrollbar-width: 100px;
    scrollbar-color: green;
}

.deck .card, .deck .blank-card {
    float: left;
}

.main {
    overflow-y: auto;
    min-height: 20vh;
    height: 70vh;
    width: 100vw;
    background-color: #ff0000;
}

.extra {
    min-height: 5vh;
    height: 15vh;
    width: 100vw;
    background-color: #0000FF;
}

.side {
    min-height: 5vh;
    height: 15vh;
    width: 100vw;
    background-color: #00FF00;
}