.lister {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    grid-area: lister;
    min-height: 50vh;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

.lister::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}


.lister .card, .lister .blank-card {
    width: 60px;
    height: 80px;
    margin: 2px;
}

.lister .lister-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content:center;
    align-items: center;
}