.search-form {
  display: grid;
  grid-template-columns: 100px 0.5fr 0.5fr;
  grid-gap: 2px;
}

.search-form .full-width {
  grid-column: 1 / 4; 
}

.search-form .full-half {
  grid-column: 2 / 4; 
}

.search h2 {
  text-align: center;
  margin-bottom: 5px;
}

.search input {
  padding: 5px;
  padding-left: 20px;
  font-size: 15px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  outline: none;
  border: none;
  display: block;
  width: 100%;
}

.search select{
  color: white;
  border: none;
  border-bottom: 0.1px solid white;
  outline: none;
  padding: 5px;
  width: 80px;
  background-color: var(--purple4);
  outline: none;
  transition: 1s;
  margin: 2px;
}
.search option, optgroup{
  background-color: var(--purple3);
}

.search label {
  padding-left: 10px;
}

.search .row {
  display: flex;
}

.search .row button {
  width: fit-content;
  transition: 0.3s;
}

.search .row button:disabled {
  cursor: default;
  opacity: 0.35;
  transition: 0.3s;
}

.search .row input {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;  
}

/* TODO : Style for disabled button*/
 .search .switch-toggle input {
  position: absolute;
  opacity: 0;
}
.search .switch-toggle input + label {
  padding: 7px;
  cursor: pointer;
  border: 1px solid var(--purple3);
}

.search .switch-toggle input:checked + label {
  background: var(--purple3);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}*/