.statistics .markers {
  display: grid;
  gap: 5px 0px;
  grid-template-columns: 0.5fr 0.5fr;
  justify-items: center;
}

.statistics .markers button {
  grid-column: 1 / 3;
  width: fit-content;
  margin-bottom: 7px;
}

.statistics .markers div {
  background-color: var(--purple3);
  text-shadow: none;
  text-align: center;
  width: 80%;
}

.statistics .markers div:hover, .statistics .markers .selected {
  background-color: var(--purple1);
  color: var(--purple4);
  cursor: pointer;
}

.statistics hr {
  margin: 10px 0 10px 0;
  width: 100%;
  border: none;
  height: 3px;
  color: white;  /* old IE */
  background-color: white;
}