.statistics {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 2px solid #ffffff;
  min-height:  48vh;
  color: white;
  font-size: 20px;
  text-shadow: 0px 0px 5px white;
  height: 100%;
  grid-area: statistics;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  max-width: 50%;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  max-width: 100%;
  margin-left: 20px;
  font-size: 2vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.markers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.markers div {
  margin: 10px;
  border: solid white;
  border-width: 1px;
  text-align: center;
  padding: 1px;
}

.markers div:hover, .markers .selected {
  background-color: white;
  color: black;
  cursor: pointer;
}

hr {
  width: 100%;
}

.statistics button{
  border: none;
  border-radius: 10px;
  padding: 1px;
  width: 85px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
  font-weight: bolder;
  color: white;
  /*font-family: 'Times New Roman', Times, serif;*/
  box-shadow: 5px 5px 10px black;
  font-size: 1vw;
  transition: 0.5s;
  outline: none;
  background: rgb(0,98,157);
  background: linear-gradient(311deg, rgba(0,98,157,1) 25%, rgba(18,124,67,1) 77%);
}

.statistics button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 0px;
  border: 0;
  opacity: 0.9;
}