.tabs {
  grid-area: tabs;
  display: flex;
  flex-direction: column;
}

/* Style the tab */
.tabs .links {
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabs .links button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs .links button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs .links button.active {
  background-color: #ccc;
}

/* Style the tab content */
/*.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}*/

.tabs .inactive {
  display : none
}
