.tabs {
  grid-area: tabs;
  display: flex;
  flex-direction: column;
}

/* Style the tab */
.tabs .links {
  display: flex;
  flex-wrap: wrap;
}

/* Style the buttons that are used to open the tab content */
.tabs .links button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.1s;
  border-bottom: 2px solid var(--purple2);
  border-radius: 0px;
  width: 25%;
  font-size: 12px;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tabs .links button:hover {
  border-bottom: 2px solid var(--purple1);
  opacity: 0.8;
}

/* Create an active/current tablink class */
.tabs .links button.active {
  border-bottom: 4px solid var(--purple1);
}

.tabs .subtabs {
  padding-top: 5px;
}

.tabs .inactive {
  display : none
}
