.visualizer {
  color: white;
  font-size: 20px;
  text-shadow: 0px 0px 5px white;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/*Overwrite*/
.visualizer .card-placeholder {
  position: relative;
  height: auto;
  text-align: center;
}

.visualizer .card-placeholder img {
  min-width: 50%;
  max-width: 80%;
}

.visualizer .card-description {
  overflow-y: auto;
  flex: 1;
}