.visualizer {
  display: flex;
  flex-flow: column;
}

.visualizer .card-placeholder {
  position: relative;
  text-align: center;
  flex: 0 1 auto;
}

.visualizer .card-placeholder img {
  min-width: 50%;
  max-width: 80%;
}

.visualizer .card-description {
  overflow-y: auto;
  flex: 1 1 auto;
  height: 20cqi;
}