.card-bank {
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid #FFFFFF;
    scrollbar-base-color: transparent;
    scrollbar-color: green;
    grid-area: tabs;
    min-height: 50vh;
    width: initial;
    scrollbar-width: 100px;
    scrollbar-color: green;
}

.card-bank::-webkit-scrollbar-track-piece {
    background-color: tomato;
    color: yellow;
}

.card-bank .card {
    margin: 10px;
}