.card {
    width: 90px;
    height: 120px;
    box-shadow: 0px 0px 10px black;
    position: relative;
    text-align: center;
    container-type: inline-size;
}

/*.card:hover, .card:focus {
    cursor: pointer;
    background: none;
}*/

.card img {
    width: 100%; 
    height: 100%; 
}

/* The Modal (background) */
.card-modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    display: flex
}

/* Modal Content/Box */
.card-modal-content {
    color: white;
    background-color: black;
    margin: auto auto;
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card-modal-content div, .card-modal-content h6 {
    text-shadow: 0px 0px 2px white;
    letter-spacing: 1px;
    padding: 10px;
    margin-left: 10px;
    height: 100%;
    width: 70%;
    font-size: 20px;
    text-align: justify;
}

.card-modal-content img {
    width: 200px;
    height: 300px;
    justify-self: flex-start;;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../pictures/placeholder.png');
}

.card .card-placeholder:hover {
    opacity: 0.5;
}