.blank-card {
    width: 90px;
    height: 120px;
    background-color: gray;
    box-shadow: 0px 0px 10px black;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../res/placeholder.png');
}

.blank-card:hover{
    background: none;
    opacity: 0.5;
}

.blank-card:focus {
    background: none;
    opacity: 0.5;
}
